html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')


    style
      include styles.css
    title= title
    body
      div.container
      .content
        h1.h1w= "We weren't able to confirm a verified twitter account. Please double check and try again"